:root {
  --text: #e4e2ee;
  --background: #0f0d18;
  --primary: #a399ce;
  --secondary: #3f3377;
  --accent: #7968c6;
}

body {
  margin: 0;
  background-color: var(--background);
}

.udvozlo {
  margin-top: 120px;
  min-height: 150px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.App-logo2 {
  height: 25vmin;
}

/*
MAIN APP
*/
.App {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  
}

/*
NAVBAR
*/
.navbar {
  background-color: var(--background);
  border-bottom: 1px solid var(--secondary);
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.App-logo {
  height: 9vmin;
  animation: App-logo-spin infinite 20s linear;
}



.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/*
BUTTONS
*/
.cart-btn, .login-btn {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--text);
  padding: 6px 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cart-btn:hover, .login-btn:hover {
  background: var(--accent);
  border-color: var(--accent);
  color: white;
}

/*
CONTAINER
*/
.container {
  flex: 1;
  margin-top: 40px;
  padding: 30px;
  border: 1px solid rgba(121, 104, 198, 0.25);
  border-radius: 12px;
  background-color: var(--background);
}

.typing-text {
  font-size: 22px;
  white-space: pre-line;
  color: var(--primary);
  border-right: 2px solid var(--accent);
  padding-right: 5px;
  animation: caretBlink .8s infinite;
  max-width: 500px;
  line-height: 1.6;
}

.intro-bold {
  font-weight: 900;
  color: var(--text);
  font-size: 24px;
}

/* kurzor villogás */
@keyframes caretBlink {
  0% { border-color: transparent; }
  50% { border-color: var(--accent); }
  100% { border-color: transparent; }
}



/*
LOGO ANIMÁCIÓ
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
FOOTER
*/
footer {
  background-color: var(--background);
  border-top: 1px solid var(--secondary);
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: auto;
}

.App-logo {
  height: 9vmin;
  animation: App-logo-spin infinite 20s linear;
}



.footer-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/*
BUTTONS
*/
.cart-btn, .login-btn {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--text);
  padding: 6px 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cart-btn:hover, .login-btn:hover {
  background: var(--accent);
  border-color: var(--accent);
  color: white;
}
